.filterContainer {
  display: flex;
  justify-content: flex-start;
  width: 100%;
  margin-bottom: 40px;
  gap: 23px;
}

.inputField {
  max-width: 283px;
  width: 100%;
  height: 41px;
  padding: 8.5px 12px;
}

.inputField:first-child {
  max-width: 385px;
}
