@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');
@import 'tailwindcss';

input,
select {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  outline: none;
  box-shadow: none;
}

@theme {
  --color-primary-green: #258f45;
  --color-secondary-green: #d2e055;
}

@layer base {
  body {
    @apply font-sans text-[#2e2d35];
    font-family: 'Manrope', sans-serif;
  }
}

@layer utilities {
  .input {
    @apply w-full max-w-sm border border-gray-400 rounded-sm pl-3 pr-3 pt-2 pb-2 placeholder-black;
  }

  .input:focus {
    @apply border-1 border-primary-green ring-1 ring-primary-green outline-none;
  }

  .pagination__button {
    @apply w-8.5 h-8.5 rounded-sm shadow-xl cursor-pointer;
  }

  .pagination__button {
    @apply w-8.5 h-8.5 flex items-center justify-center;
    box-shadow:
      0px 1px 1px rgba(0, 0, 0, 0.2),
      0px 2px 2px rgba(0, 0, 0, 0.14),
      0px 1px 5px rgba(0, 0, 0, 0.12);
  }

  .pagination__button:not(:disabled):not(.pagination__button_active) {
    @apply hover:bg-secondary-green;
  }

  .pagination__button_active {
    @apply bg-primary-green text-white;
  }

  .pagination__button:disabled {
    @apply opacity-50 pointer-events-none;
  }
}
