.characterContainer {
  margin: 28px auto 80px;
}

.backButtonContainer {
  margin-bottom: 40px;
}

.characterInfo {
  display: flex;
  width: 100%;
  gap: 20px;
  margin-bottom: 64px;
}

.characterInfoContainer {
  display: flex;
  flex-direction: column;
  flex: 1;
}

.characterInfoImg {
  width: 387px;
  height: 100%;
}

.characterName {
  height: 66px;
  font-size: 48px;
  letter-spacing: 0.05em;
  margin-bottom: 32px;
}

.characterName p {
  height: 100%;
  line-height: 1;
  display: flex;
  align-items: center;
}

.characterInfoTable {
  display: flex;
  gap: 16px;
}

.characterInfoTable > div {
  flex: 1;
}

table {
  width: 100%;
  border-collapse: collapse;
}

th,
tr,
li {
  font-family: 'Manrope', sans-serif;
  font-size: 18px;
  line-height: 20px;
  letter-spacing: 0.05em;
  font-weight: 500;
}

tr,
li {
  height: 44px;
}

th {
  text-align: center;
  padding: 8px 0;
  width: 100%;
  border-bottom: none;
  height: 36px;
  background-color: #e8e8e8;
  height: 36px;
}

tr:not(:has(th)):not(:has(+ tr th)):not(:has(ul)) {
  border-bottom: 1px solid #f2f2f2;
}

ul {
  list-style-position: inside;
  align-items: center;
}

li {
  display: list-item;
  line-height: 36px;
}

td {
  width: 50%;
}

.moreCharacters {
  display: flex;
  flex-direction: column;
}

.moreCharactersTitle {
  font-size: 24px;
  margin-bottom: 16px;
}
